In [146]:
import random
import string

In [147]:
# 문자열 랜덤 값을 생성
letter_set = string.ascii_lowercase
letter_set

'abcdefghijklmnopqrstuvwxyz'

In [148]:
random_data = random.sample(letter_set, 5)
# list를 문자열로 변경
data = "".join(random_data)
data

'saczu'

In [149]:
text_length = range(4, 10)
email = ['@naver.com', '@gmail.com', '@hanmail.net', '@yahoo.com']

email_list = []
for i in range(1000000):
    # email_list의 길이가 100일때 반복문을 종료
    if (len(email_list) == 100):
        break

    random_data = random.sample(letter_set, random.choice(text_length))

    data = "".join(random_data) + random.choice(email)

    # data를 email_list에 대입 -> 해당하는 이메일이 존재하지 않는 경우에만
    if (data not in email_list):
        email_list.append(data)

In [150]:
email_list

['fmyndtk@naver.com',
 'zasydq@yahoo.com',
 'ktvumhye@naver.com',
 'uyhjesaoq@hanmail.net',
 'aydwjho@naver.com',
 'khmvzxey@gmail.com',
 'qerjah@naver.com',
 'cgsaufwkh@yahoo.com',
 'wjnvltzx@yahoo.com',
 'ncuraojf@hanmail.net',
 'boxjkufdh@naver.com',
 'hpadrcsbn@hanmail.net',
 'kqrzhi@naver.com',
 'zysldraf@naver.com',
 'obxdktjif@naver.com',
 'axkw@yahoo.com',
 'njiolmgzx@gmail.com',
 'grvcm@hanmail.net',
 'cemz@yahoo.com',
 'dlhfextau@naver.com',
 'ojlidkr@naver.com',
 'fwyzga@gmail.com',
 'genbapd@gmail.com',
 'xscmnbf@yahoo.com',
 'pgukiay@hanmail.net',
 'wofketrh@gmail.com',
 'telkfwbjn@yahoo.com',
 'wiklc@yahoo.com',
 'qurjc@naver.com',
 'unsgad@gmail.com',
 'rxwujmb@hanmail.net',
 'jgblkudwa@gmail.com',
 'zlae@yahoo.com',
 'dnotlsx@yahoo.com',
 'xezpsq@yahoo.com',
 'frtsdh@gmail.com',
 'spezlrjw@gmail.com',
 'hvjsmx@naver.com',
 'uovfdpl@hanmail.net',
 'vtsehr@yahoo.com',
 'hxadylpgi@yahoo.com',
 'kezqbdifm@hanmail.net',
 'sukqxpli@gmail.com',
 'ekrjyqtc@yahoo.com',
 'tzgp@naver.com',
 'ignzlwbmc@gmail.com',
 'lxodbz@naver.com',
 'swfl@gmail.com',
 'xkgfdziyp@gmail.com',
 'ctmegfvrk@yahoo.com',
 'rbjzqluim@hanmail.net',
 'obmnt@naver.com',
 'hqovus@yahoo.com',
 'nrjsopxah@hanmail.net',
 'nrwa@gmail.com',
 'hvtydmcs@naver.com',
 'bwvichaun@yahoo.com',
 'yvhoxkcn@naver.com',
 'srfamjciy@naver.com',
 'pwmgabe@hanmail.net',
 'dhtlmyae@gmail.com',
 'hrjoyvfx@yahoo.com',
 'ioswkqfy@yahoo.com',
 'qipzyw@gmail.com',
 'tzxmupbyg@hanmail.net',
 'uvbijnpcw@gmail.com',
 'wxvzemh@gmail.com',
 'uiqb@gmail.com',
 'vimrsxnyd@hanmail.net',
 'uwpyzqvb@gmail.com',
 'swkge@gmail.com',
 'eknq@hanmail.net',
 'slkjwg@hanmail.net',
 'kuli@gmail.com',
 'pojclxui@gmail.com',
 'jyot@gmail.com',
 'avqdg@gmail.com',
 'lgpv@yahoo.com',
 'xtmke@yahoo.com',
 'jwacnpfu@hanmail.net',
 'olfsw@naver.com',
 'bmlarhvzd@naver.com',
 'htvrczqlm@hanmail.net',
 'yhegx@naver.com',
 'epyhrzdva@hanmail.net',
 'efnjokc@naver.com',
 'kgtn@hanmail.net',
 'cqdnizo@gmail.com',
 'gwbhrpitx@naver.com',
 'fdrsno@gmail.com',
 'iswhnx@gmail.com',
 'hdjoyzcrn@hanmail.net',
 'hbjvw@naver.com',
 'veznlart@hanmail.net',
 'ryzmekbq@gmail.com',
 'gptolkdb@hanmail.net',
 'ghartpod@yahoo.com',
 'pasfdy@naver.com',
 'hdavzi@naver.com',
 'lcbyxdghu@hanmail.net']

In [151]:
from datetime import datetime

In [152]:
year = list(range(2017, 2024))
month = list(range(1, 13))
day = list(range(1, 32))

time1 = []
for i in range(100000):
    y = str(random.choice(year))
    m = str(random.choice(month))
    d = str(random.choice(day))

    date = y+m+d

    try:
        time1.append(datetime.strptime(date, '%Y%m%d'))
    except:
        print(date)
    
    if (len(time1) == 100):
        break

2017231
2022229

In [153]:
time1

[datetime.datetime(2022, 7, 17, 0, 0),
 datetime.datetime(2020, 3, 1, 0, 0),
 datetime.datetime(2020, 11, 27, 0, 0),
 datetime.datetime(2019, 12, 27, 0, 0),
 datetime.datetime(2018, 3, 11, 0, 0),
 datetime.datetime(2022, 5, 22, 0, 0),
 datetime.datetime(2022, 12, 9, 0, 0),
 datetime.datetime(2022, 11, 2, 0, 0),
 datetime.datetime(2022, 10, 18, 0, 0),
 datetime.datetime(2017, 5, 23, 0, 0),
 datetime.datetime(2019, 8, 9, 0, 0),
 datetime.datetime(2023, 7, 3, 0, 0),
 datetime.datetime(2020, 5, 19, 0, 0),
 datetime.datetime(2021, 6, 21, 0, 0),
 datetime.datetime(2022, 2, 5, 0, 0),
 datetime.datetime(2022, 11, 6, 0, 0),
 datetime.datetime(2017, 3, 29, 0, 0),
 datetime.datetime(2023, 5, 4, 0, 0),
 datetime.datetime(2022, 4, 2, 0, 0),
 datetime.datetime(2018, 4, 21, 0, 0),
 datetime.datetime(2021, 6, 10, 0, 0),
 datetime.datetime(2017, 3, 7, 0, 0),
 datetime.datetime(2022, 9, 12, 0, 0),
 datetime.datetime(2019, 11, 24, 0, 0),
 datetime.datetime(2022, 2, 5, 0, 0),
 datetime.datetime(2018, 10, 8, 0, 0),
 datetime.datetime(2017, 3, 13, 0, 0),
 datetime.datetime(2023, 2, 8, 0, 0),
 datetime.datetime(2017, 6, 9, 0, 0),
 datetime.datetime(2020, 12, 7, 0, 0),
 datetime.datetime(2017, 10, 26, 0, 0),
 datetime.datetime(2023, 12, 21, 0, 0),
 datetime.datetime(2021, 5, 14, 0, 0),
 datetime.datetime(2021, 8, 1, 0, 0),
 datetime.datetime(2017, 6, 24, 0, 0),
 datetime.datetime(2023, 10, 13, 0, 0),
 datetime.datetime(2018, 6, 13, 0, 0),
 datetime.datetime(2023, 9, 25, 0, 0),
 datetime.datetime(2019, 8, 27, 0, 0),
 datetime.datetime(2023, 11, 13, 0, 0),
 datetime.datetime(2019, 12, 31, 0, 0),
 datetime.datetime(2017, 4, 28, 0, 0),
 datetime.datetime(2017, 4, 11, 0, 0),
 datetime.datetime(2019, 7, 4, 0, 0),
 datetime.datetime(2020, 12, 9, 0, 0),
 datetime.datetime(2019, 7, 20, 0, 0),
 datetime.datetime(2020, 1, 3, 0, 0),
 datetime.datetime(2017, 10, 19, 0, 0),
 datetime.datetime(2017, 4, 28, 0, 0),
 datetime.datetime(2019, 12, 3, 0, 0),
 datetime.datetime(2023, 8, 10, 0, 0),
 datetime.datetime(2019, 12, 27, 0, 0),
 datetime.datetime(2018, 3, 31, 0, 0),
 datetime.datetime(2018, 10, 30, 0, 0),
 datetime.datetime(2023, 11, 8, 0, 0),
 datetime.datetime(2021, 2, 25, 0, 0),
 datetime.datetime(2020, 6, 22, 0, 0),
 datetime.datetime(2020, 3, 31, 0, 0),
 datetime.datetime(2018, 5, 3, 0, 0),
 datetime.datetime(2019, 3, 24, 0, 0),
 datetime.datetime(2019, 9, 23, 0, 0),
 datetime.datetime(2018, 5, 19, 0, 0),
 datetime.datetime(2019, 10, 28, 0, 0),
 datetime.datetime(2021, 2, 22, 0, 0),
 datetime.datetime(2018, 12, 15, 0, 0),
 datetime.datetime(2023, 10, 23, 0, 0),
 datetime.datetime(2023, 2, 21, 0, 0),
 datetime.datetime(2023, 6, 6, 0, 0),
 datetime.datetime(2020, 8, 1, 0, 0),
 datetime.datetime(2021, 9, 25, 0, 0),
 datetime.datetime(2020, 6, 26, 0, 0),
 datetime.datetime(2020, 4, 23, 0, 0),
 datetime.datetime(2022, 4, 10, 0, 0),
 datetime.datetime(2018, 5, 20, 0, 0),
 datetime.datetime(2017, 1, 31, 0, 0),
 datetime.datetime(2021, 8, 16, 0, 0),
 datetime.datetime(2019, 1, 3, 0, 0),
 datetime.datetime(2017, 8, 23, 0, 0),
 datetime.datetime(2019, 11, 22, 0, 0),
 datetime.datetime(2022, 12, 1, 0, 0),
 datetime.datetime(2022, 12, 17, 0, 0),
 datetime.datetime(2018, 9, 27, 0, 0),
 datetime.datetime(2020, 11, 15, 0, 0),
 datetime.datetime(2017, 7, 11, 0, 0),
 datetime.datetime(2022, 5, 12, 0, 0),
 datetime.datetime(2022, 1, 31, 0, 0),
 datetime.datetime(2023, 2, 23, 0, 0),
 datetime.datetime(2018, 9, 11, 0, 0),
 datetime.datetime(2021, 4, 11, 0, 0),
 datetime.datetime(2019, 2, 25, 0, 0),
 datetime.datetime(2019, 3, 25, 0, 0),
 datetime.datetime(2020, 4, 19, 0, 0),
 datetime.datetime(2022, 12, 14, 0, 0),
 datetime.datetime(2018, 9, 7, 0, 0),
 datetime.datetime(2018, 11, 1, 0, 0),
 datetime.datetime(2021, 2, 2, 0, 0),
 datetime.datetime(2023, 1, 5, 0, 0),
 datetime.datetime(2021, 5, 18, 0, 0),
 datetime.datetime(2019, 2, 10, 0, 0),
 datetime.datetime(2019, 12, 30, 0, 0)]

In [154]:
year = list(range(2017, 2024))
month = list(range(1, 13))
day = list(range(1, 32))

time2 = []

# time1의 인덱스 값 설정
time1_index = 0
for i in range(100000):
    y = str(random.choice(year))
    m = str(random.choice(month))
    d = str(random.choice(day))

    date = y+m+d

    try:
        a = datetime.strptime(date, '%Y%m%d')
        if (time1[time1_index] < a):
            print(time1[time1_index] < a)
            print(time1_index)
            time2.append(a)
            time1_index = time1_index + 1
    except:
        print(date)
    
    if (len(time2) == 100):
        break

True
0
True
1
True
2
True
3
True
4
True
5
True
6
True
7
True
8
True
9
True
10
True
11
True
12
True
13
True
14
True
15
True
16
True
17
True
18
True
19
True
20
True
21
2017229
True
22
2021431
True
23
True
24
True
25
True
26
2020931
2018231
True
27
True
28
True
29
True
30
2019231
2020230
True
31
2018431
True
32
True
33
True
34
2017230
True
35
True
36
True
37
True
38
True
39
2023931
True
40
True
41
True
42
True
43
True
44
True
45
True
46
True
47
True
48
True
49
True
50
True
51
True
52
True
53
True
54
True
55
True
56
True
57
True
58
True
59
True
60
True
61
True
62
True
63
True
64
True
65
True
66
2017431
True
67
True
68
True
69
True
70
True
71
20171131
True
72
True
73
True
74
True
75
True
76
True
77
True
78
True
79
True
80
True
81
True
82
True
83
True
84
True
85
True
86
True
87
True
88
True
89
True
90
True
91
True
92
True
93
True
94
True
95
True
96
True
97
True
98
2020230
2021229
True
99

In [155]:
time2

[datetime.datetime(2023, 3, 18, 0, 0),
 datetime.datetime(2023, 2, 14, 0, 0),
 datetime.datetime(2023, 5, 10, 0, 0),
 datetime.datetime(2023, 10, 31, 0, 0),
 datetime.datetime(2020, 7, 24, 0, 0),
 datetime.datetime(2023, 2, 5, 0, 0),
 datetime.datetime(2023, 7, 8, 0, 0),
 datetime.datetime(2023, 7, 13, 0, 0),
 datetime.datetime(2023, 10, 1, 0, 0),
 datetime.datetime(2022, 10, 8, 0, 0),
 datetime.datetime(2020, 12, 12, 0, 0),
 datetime.datetime(2023, 10, 27, 0, 0),
 datetime.datetime(2023, 8, 1, 0, 0),
 datetime.datetime(2022, 12, 6, 0, 0),
 datetime.datetime(2023, 10, 29, 0, 0),
 datetime.datetime(2023, 4, 16, 0, 0),
 datetime.datetime(2018, 11, 22, 0, 0),
 datetime.datetime(2023, 7, 27, 0, 0),
 datetime.datetime(2022, 12, 18, 0, 0),
 datetime.datetime(2018, 9, 12, 0, 0),
 datetime.datetime(2023, 5, 11, 0, 0),
 datetime.datetime(2020, 7, 26, 0, 0),
 datetime.datetime(2022, 12, 5, 0, 0),
 datetime.datetime(2020, 4, 23, 0, 0),
 datetime.datetime(2022, 2, 19, 0, 0),
 datetime.datetime(2021, 6, 2, 0, 0),
 datetime.datetime(2022, 8, 6, 0, 0),
 datetime.datetime(2023, 2, 13, 0, 0),
 datetime.datetime(2023, 5, 22, 0, 0),
 datetime.datetime(2022, 5, 24, 0, 0),
 datetime.datetime(2021, 11, 4, 0, 0),
 datetime.datetime(2023, 12, 31, 0, 0),
 datetime.datetime(2023, 5, 9, 0, 0),
 datetime.datetime(2022, 5, 11, 0, 0),
 datetime.datetime(2019, 6, 27, 0, 0),
 datetime.datetime(2023, 12, 1, 0, 0),
 datetime.datetime(2021, 8, 30, 0, 0),
 datetime.datetime(2023, 12, 24, 0, 0),
 datetime.datetime(2022, 9, 28, 0, 0),
 datetime.datetime(2023, 11, 26, 0, 0),
 datetime.datetime(2023, 8, 21, 0, 0),
 datetime.datetime(2017, 8, 8, 0, 0),
 datetime.datetime(2021, 10, 14, 0, 0),
 datetime.datetime(2021, 2, 9, 0, 0),
 datetime.datetime(2023, 11, 22, 0, 0),
 datetime.datetime(2021, 2, 5, 0, 0),
 datetime.datetime(2023, 12, 29, 0, 0),
 datetime.datetime(2022, 3, 13, 0, 0),
 datetime.datetime(2020, 5, 23, 0, 0),
 datetime.datetime(2023, 11, 11, 0, 0),
 datetime.datetime(2023, 12, 22, 0, 0),
 datetime.datetime(2021, 4, 10, 0, 0),
 datetime.datetime(2021, 11, 3, 0, 0),
 datetime.datetime(2023, 2, 6, 0, 0),
 datetime.datetime(2023, 11, 20, 0, 0),
 datetime.datetime(2022, 7, 20, 0, 0),
 datetime.datetime(2022, 1, 7, 0, 0),
 datetime.datetime(2022, 3, 29, 0, 0),
 datetime.datetime(2023, 2, 12, 0, 0),
 datetime.datetime(2021, 11, 18, 0, 0),
 datetime.datetime(2023, 5, 17, 0, 0),
 datetime.datetime(2020, 9, 10, 0, 0),
 datetime.datetime(2022, 5, 29, 0, 0),
 datetime.datetime(2021, 5, 1, 0, 0),
 datetime.datetime(2022, 11, 7, 0, 0),
 datetime.datetime(2023, 12, 7, 0, 0),
 datetime.datetime(2023, 8, 4, 0, 0),
 datetime.datetime(2023, 6, 24, 0, 0),
 datetime.datetime(2020, 8, 26, 0, 0),
 datetime.datetime(2021, 10, 12, 0, 0),
 datetime.datetime(2022, 9, 2, 0, 0),
 datetime.datetime(2022, 12, 12, 0, 0),
 datetime.datetime(2023, 11, 9, 0, 0),
 datetime.datetime(2021, 4, 12, 0, 0),
 datetime.datetime(2017, 9, 8, 0, 0),
 datetime.datetime(2023, 2, 15, 0, 0),
 datetime.datetime(2022, 7, 8, 0, 0),
 datetime.datetime(2022, 10, 3, 0, 0),
 datetime.datetime(2021, 4, 18, 0, 0),
 datetime.datetime(2022, 12, 30, 0, 0),
 datetime.datetime(2023, 5, 1, 0, 0),
 datetime.datetime(2020, 10, 15, 0, 0),
 datetime.datetime(2022, 8, 31, 0, 0),
 datetime.datetime(2017, 12, 21, 0, 0),
 datetime.datetime(2022, 11, 19, 0, 0),
 datetime.datetime(2022, 11, 17, 0, 0),
 datetime.datetime(2023, 7, 28, 0, 0),
 datetime.datetime(2021, 3, 21, 0, 0),
 datetime.datetime(2021, 8, 17, 0, 0),
 datetime.datetime(2019, 11, 16, 0, 0),
 datetime.datetime(2022, 2, 1, 0, 0),
 datetime.datetime(2021, 6, 8, 0, 0),
 datetime.datetime(2023, 3, 10, 0, 0),
 datetime.datetime(2023, 3, 1, 0, 0),
 datetime.datetime(2020, 4, 16, 0, 0),
 datetime.datetime(2023, 4, 4, 0, 0),
 datetime.datetime(2023, 11, 21, 0, 0),
 datetime.datetime(2023, 2, 8, 0, 0),
 datetime.datetime(2021, 1, 30, 0, 0),
 datetime.datetime(2020, 6, 20, 0, 0)]

In [156]:
import pandas as pd

In [157]:
df = pd.DataFrame({
    'email' : email_list, 
    '입사일' : time1, 
    '퇴사일' : time2
})

In [158]:
flag = df['입사일'] < '20171231'
flag2 = df['퇴사일'] > '20171231'

In [159]:
flag & flag2

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

In [160]:
df.loc[flag & flag2]

                   email        입사일        퇴사일
9   ncuraojf@hanmail.net 2017-05-23 2022-10-08
16   njiolmgzx@gmail.com 2017-03-29 2018-11-22
21      fwyzga@gmail.com 2017-03-07 2020-07-26
26   telkfwbjn@yahoo.com 2017-03-13 2022-08-06
28       qurjc@naver.com 2017-06-09 2023-05-22
30   rxwujmb@hanmail.net 2017-10-26 2021-11-04
34      xezpsq@yahoo.com 2017-06-24 2019-06-27
42    sukqxpli@gmail.com 2017-04-11 2021-10-14
47        swfl@gmail.com 2017-10-19 2022-03-13
48   xkgfdziyp@gmail.com 2017-04-28 2020-05-23
77        lgpv@yahoo.com 2017-08-23 2022-10-03

In [161]:
def func_1(_df, _date):
    _date1 = _date+"1231"
    _date2 = _date+"0101"
    flag = _df['입사일'] < _date1
    flag2 = _df['퇴사일'] > _date2

    return _df.loc[flag & flag2]

In [162]:
func_1(df, '2023')

                    email        입사일        퇴사일
0       fmyndtk@naver.com 2022-07-17 2023-03-18
1        zasydq@yahoo.com 2020-03-01 2023-02-14
2      ktvumhye@naver.com 2020-11-27 2023-05-10
3   uyhjesaoq@hanmail.net 2019-12-27 2023-10-31
5      khmvzxey@gmail.com 2022-05-22 2023-02-05
6        qerjah@naver.com 2022-12-09 2023-07-08
7     cgsaufwkh@yahoo.com 2022-11-02 2023-07-13
8      wjnvltzx@yahoo.com 2022-10-18 2023-10-01
11  hpadrcsbn@hanmail.net 2023-07-03 2023-10-27
12       kqrzhi@naver.com 2020-05-19 2023-08-01
14    obxdktjif@naver.com 2022-02-05 2023-10-29
15         axkw@yahoo.com 2022-11-06 2023-04-16
17      grvcm@hanmail.net 2023-05-04 2023-07-27
20      ojlidkr@naver.com 2021-06-10 2023-05-11
27        wiklc@yahoo.com 2023-02-08 2023-02-13
28        qurjc@naver.com 2017-06-09 2023-05-22
31    jgblkudwa@gmail.com 2023-12-21 2023-12-31
32         zlae@yahoo.com 2021-05-14 2023-05-09
35       frtsdh@gmail.com 2023-10-13 2023-12-01
37       hvjsmx@naver.com 2023-09-25 2023-12-24
39       vtsehr@yahoo.com 2023-11-13 2023-11-26
40    hxadylpgi@yahoo.com 2019-12-31 2023-08-21
44         tzgp@naver.com 2020-12-09 2023-11-22
46       lxodbz@naver.com 2020-01-03 2023-12-29
49    ctmegfvrk@yahoo.com 2019-12-03 2023-11-11
50  rbjzqluim@hanmail.net 2023-08-10 2023-12-22
53  nrjsopxah@hanmail.net 2018-10-30 2023-02-06
54         nrwa@gmail.com 2023-11-08 2023-11-20
58    srfamjciy@naver.com 2018-05-03 2023-02-12
60     dhtlmyae@gmail.com 2019-09-23 2023-05-17
65    uvbijnpcw@gmail.com 2023-10-23 2023-12-07
66      wxvzemh@gmail.com 2023-02-21 2023-08-04
67         uiqb@gmail.com 2023-06-06 2023-06-24
72     slkjwg@hanmail.net 2022-04-10 2023-11-09
75         jyot@gmail.com 2021-08-16 2023-02-15
80        olfsw@naver.com 2022-12-17 2023-05-01
86       kgtn@hanmail.net 2023-02-23 2023-07-28
92        hbjvw@naver.com 2022-12-14 2023-03-10
93   veznlart@hanmail.net 2018-09-07 2023-03-01
95   gptolkdb@hanmail.net 2021-02-02 2023-04-04
96     ghartpod@yahoo.com 2023-01-05 2023-11-21
97       pasfdy@naver.com 2021-05-18 2023-02-08

In [163]:
for year in range(2017, 2024):
    data = func_1(df, str(year))
    data.to_excel(f"./excel_data/{year}.xlsx")

In [164]:
import calendar

In [165]:
def func_2(_df, _year, _month):
    print(len(str(_month)))
    if(len(str(_month)) == 1):
        _date = str(_year) + '0' +str(_month)
    else:
        _date = str(_year) +str(_month)
    _date1 = _date + str(calendar.monthrange(_year, _month)[-1])
    _date2 = _date + '0' +str(calendar.monthrange(_year, _month)[0])
    print(_date,_date1, _date2)
    flag = df['입사일'] < _date1
    flag2 = df['퇴사일']  > _date2
    return _df.loc[flag & flag2]

In [166]:
func_2(df, 2017, 2)

1
201702 20170228 20170202

                 email        입사일        퇴사일
74  pojclxui@gmail.com 2017-01-31 2017-09-08

In [167]:
def func_3(_df, _year, _month):
    last_day = calendar.monthrange(_year, _month)[-1]
    first_day = calendar.monthrange(_year, _month)[0]
    _date1 = datetime(_year, _month, last_day)
    _date2 = datetime(_year, _month, first_day+1)
    print(_date1, _date2)
    flag = df['입사일'] < _date1
    flag2 = df['퇴사일']  > _date2
    return _df.loc[flag & flag2]

In [168]:
calendar.monthrange(2017, 5)

(0, 31)

In [169]:
func_3(df, 2017, 5)

2017-05-31 00:00:00 2017-05-01 00:00:00

                    email        입사일        퇴사일
9    ncuraojf@hanmail.net 2017-05-23 2022-10-08
16    njiolmgzx@gmail.com 2017-03-29 2018-11-22
21       fwyzga@gmail.com 2017-03-07 2020-07-26
26    telkfwbjn@yahoo.com 2017-03-13 2022-08-06
41  kezqbdifm@hanmail.net 2017-04-28 2017-08-08
42     sukqxpli@gmail.com 2017-04-11 2021-10-14
48    xkgfdziyp@gmail.com 2017-04-28 2020-05-23
74     pojclxui@gmail.com 2017-01-31 2017-09-08

In [170]:
# 다중 for문 사용
# 첫번째 for문 (2017 - 2023)
for year in range(2017, 2024):
    # 두번째 for문 (1 - 12)
    for month in range(1, 13):
        # print(year, month)
        data = func_3(df, year, month)
        data.to_excel(f"./excel_data/{year}-{month}.xlsx")

2017-01-31 00:00:00 2017-01-07 00:00:00
2017-02-28 00:00:00 2017-02-03 00:00:00
2017-03-31 00:00:00 2017-03-03 00:00:00
2017-04-30 00:00:00 2017-04-06 00:00:00
2017-05-31 00:00:00 2017-05-01 00:00:00
2017-06-30 00:00:00 2017-06-04 00:00:00
2017-07-31 00:00:00 2017-07-06 00:00:00
2017-08-31 00:00:00 2017-08-02 00:00:00
2017-09-30 00:00:00 2017-09-05 00:00:00
2017-10-31 00:00:00 2017-10-07 00:00:00
2017-11-30 00:00:00 2017-11-03 00:00:00
2017-12-31 00:00:00 2017-12-05 00:00:00
2018-01-31 00:00:00 2018-01-01 00:00:00
2018-02-28 00:00:00 2018-02-04 00:00:00
2018-03-31 00:00:00 2018-03-04 00:00:00
2018-04-30 00:00:00 2018-04-07 00:00:00
2018-05-31 00:00:00 2018-05-02 00:00:00
2018-06-30 00:00:00 2018-06-05 00:00:00
2018-07-31 00:00:00 2018-07-07 00:00:00
2018-08-31 00:00:00 2018-08-03 00:00:00
2018-09-30 00:00:00 2018-09-06 00:00:00
2018-10-31 00:00:00 2018-10-01 00:00:00
2018-11-30 00:00:00 2018-11-04 00:00:00
2018-12-31 00:00:00 2018-12-06 00:00:00
2019-01-31 00:00:00 2019-01-02 00:00:00
2019-02-28 00:00:00 2019-02-05 00:00:00
2019-03-31 00:00:00 2019-03-05 00:00:00
2019-04-30 00:00:00 2019-04-01 00:00:00
2019-05-31 00:00:00 2019-05-03 00:00:00
2019-06-30 00:00:00 2019-06-06 00:00:00

2019-07-31 00:00:00 2019-07-01 00:00:00
2019-08-31 00:00:00 2019-08-04 00:00:00
2019-09-30 00:00:00 2019-09-07 00:00:00
2019-10-31 00:00:00 2019-10-02 00:00:00
2019-11-30 00:00:00 2019-11-05 00:00:00
2019-12-31 00:00:00 2019-12-07 00:00:00
2020-01-31 00:00:00 2020-01-03 00:00:00
2020-02-29 00:00:00 2020-02-06 00:00:00
2020-03-31 00:00:00 2020-03-07 00:00:00
2020-04-30 00:00:00 2020-04-03 00:00:00
2020-05-31 00:00:00 2020-05-05 00:00:00
2020-06-30 00:00:00 2020-06-01 00:00:00
2020-07-31 00:00:00 2020-07-03 00:00:00
2020-08-31 00:00:00 2020-08-06 00:00:00
2020-09-30 00:00:00 2020-09-02 00:00:00
2020-10-31 00:00:00 2020-10-04 00:00:00
2020-11-30 00:00:00 2020-11-07 00:00:00
2020-12-31 00:00:00 2020-12-02 00:00:00
2021-01-31 00:00:00 2021-01-05 00:00:00
2021-02-28 00:00:00 2021-02-01 00:00:00
2021-03-31 00:00:00 2021-03-01 00:00:00
2021-04-30 00:00:00 2021-04-04 00:00:00
2021-05-31 00:00:00 2021-05-06 00:00:00
2021-06-30 00:00:00 2021-06-02 00:00:00
2021-07-31 00:00:00 2021-07-04 00:00:00
2021-08-31 00:00:00 2021-08-07 00:00:00
2021-09-30 00:00:00 2021-09-03 00:00:00
2021-10-31 00:00:00 2021-10-05 00:00:00
2021-11-30 00:00:00 2021-11-01 00:00:00
2021-12-31 00:00:00 2021-12-03 00:00:00
2022-01-31 00:00:00 2022-01-06 00:00:00
2022-02-28 00:00:00 2022-02-02 00:00:00
2022-03-31 00:00:00 2022-03-02 00:00:00
2022-04-30 00:00:00 2022-04-05 00:00:00
2022-05-31 00:00:00 2022-05-07 00:00:00
2022-06-30 00:00:00 2022-06-03 00:00:00
2022-07-31 00:00:00 2022-07-05 00:00:00
2022-08-31 00:00:00 2022-08-01 00:00:00
2022-09-30 00:00:00 2022-09-04 00:00:00
2022-10-31 00:00:00 2022-10-06 00:00:00
2022-11-30 00:00:00 2022-11-02 00:00:00
2022-12-31 00:00:00 2022-12-04 00:00:00
2023-01-31 00:00:00 2023-01-07 00:00:00
2023-02-28 00:00:00 2023-02-03 00:00:00
2023-03-31 00:00:00 2023-03-03 00:00:00
2023-04-30 00:00:00 2023-04-06 00:00:00
2023-05-31 00:00:00 2023-05-01 00:00:00
2023-06-30 00:00:00 2023-06-04 00:00:00
2023-07-31 00:00:00 2023-07-06 00:00:00
2023-08-31 00:00:00 2023-08-02 00:00:00
2023-09-30 00:00:00 2023-09-05 00:00:00
2023-10-31 00:00:00 2023-10-07 00:00:00
2023-11-30 00:00:00 2023-11-03 00:00:00
2023-12-31 00:00:00 2023-12-05 00:00:00

In [171]:
(df['입사일'] < df['퇴사일']).value_counts()

True    100
Name: count, dtype: int64